footer{
    background-color: #232B32;
    border-top: 7px solid #FFAE00;
}

footer img{
    max-width: 100px;
}

footer .slogan-1 , footer .slogan-2{
    font-family: 'a Atmospheric', sans-serif;                                               
}

footer .slogan-1 {
    color:#FFAE00;
    font-weight: 400;
}

footer .slogan-2{
    color: #FFFFFF;
    font-weight: 400;
}

footer h6{
    color:#FFAE00;
    font-weight: 700;
}

footer p {
    color: #FFFFFF;
    font-weight: 300;
}
footer .cr{
    font-weight: 400;
    font-size: 14px;
}

footer .cr i{
    font-size: 30px;
    margin-bottom: 5px;
}
#map { 
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 992px){
    #map { 
        height: 250px;
        margin-right: 250px;
        margin-left: 250px;
    }
}
@media (max-width: 425px){
    #map { 
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
    }
}