@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/a-atmospheric');
html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}


/*---------------NAV--------------------*/
.nav-cover{
    background-color: #3AB2FE;
    border-radius: 0px 0px 160px 160px;
    height: 95px;
    transition: height 0.15s ease-in-out;
}

nav{
    border-radius: 0px 0px 160px 160px;
    height: 95px;
    padding-inline: 72px !important ;
    margin-inline: 32.5px;
    transition: height 0.15s ease-in-out ;
}
nav img {
    height: 75px;
}

nav ul li {
    font-size: 20px;
    font-weight: 500;
    margin-inline: 20px;
}
@media (max-width: 1024px){
    nav{
        padding-inline: 22px !important ;
    }
    nav ul li {
        font-size: 18px;
        margin-inline: 18px;
    }
}
@media (max-width: 768px){
    .nav-cover{
        border-radius: 0px 0px 100px 100px;
    
    }
    nav{
        border-radius: 0px 0px 80px 80px;
        padding-inline: 32px !important ;
    }

}
@media (max-width: 425px){
    .nav-cover{
        border-radius: 0px 0px 80px 80px;
    
    }
    nav{
        border-radius: 0px 0px 80px 80px;
        padding-inline: 10px !important ;
    }
    nav img {
        height: 60px;
    }
}
@media (max-width: 320px){
    .nav-cover{
        border-radius: 0px 0px 70px 70px;
    
    }
    nav{
        border-radius: 0px 0px 60px 60px;
        padding-inline: 5px !important ;
    }
    nav img {
        height: 50px;
    }
}
nav button.dropdown{
    background-color: #3AB2FE;
    border-radius: 30px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-inline: 20px;
    padding-inline: 20px;
}

nav .dropdown-menu{
    background-color: #3AB2FE !important;
    border: none !important;
}
@media (max-width: 1439px ) {
    .more-content {
        display: none;
    }
    .dropdown {
        display: block;
    }
}
@media (min-width: 1440px) {
    .dropdown {
        display: none;
    }
    .more-content {
        display: block;
    }
}
@media (max-width: 769px) {
    .dropdown {
        display: none;
    }
    .more-content {
        display: block;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
    }
}
nav hr{
    color: white;
    width: 100%;
}

nav .navbar-toggler{
    border: none;
}
@media (max-width: 768px){

}



/*---------------Footer--------------------*/
footer{
    background-color: #232B32;
    border-top: 7px solid #FFAE00;
}

footer img{
    max-width: 100px;
}

footer .slogan-1 , footer .slogan-2{
    font-family: 'a Atmospheric', sans-serif;                                               
}

footer .slogan-1 {
    color:#FFAE00;
    font-weight: 400;
}

footer .slogan-2{
    color: #FFFFFF;
    font-weight: 400;
}

footer h6{
    color:#FFAE00;
    font-weight: 700;
}

footer p {
    color: #FFFFFF;
    font-weight: 300;
}
footer .cr{
    font-weight: 400;
    font-size: 14px;
}

footer .cr i{
    font-size: 30px;
    margin-bottom: 5px;
}
#map { 
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 992px){
    #map { 
        height: 250px;
        margin-right: 250px;
        margin-left: 250px;
    }
}
@media (max-width: 425px){
    #map { 
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
    }
}