@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/a-atmospheric');

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}


/*---------------NAV--------------------*/
.nav-cover {
    background-color: #3AB2FE;
    border-radius: 0px 0px 160px 160px;
    height: 95px;
    transition: height 0.15s ease-in-out;
}

nav {
    border-radius: 0px 0px 160px 160px;
    height: 95px;
    padding-inline: 72px !important;
    margin-inline: 32.5px;
    transition: height 0.15s ease-in-out;
}

nav img {
    height: 75px;
}

.nav-link {
    padding-right: 0px !important;
}

nav ul li {
    font-size: 20px;
    font-weight: 500;
    margin-inline: 20px;
}

@media (max-width: 1024px) {
    nav {
        padding-inline: 22px !important;
    }

    nav ul li {
        font-size: 18px;
        margin-inline: 18px;
    }
}

@media (max-width: 768px) {
    .nav-cover {
        border-radius: 0px 0px 100px 100px;

    }

    nav {
        border-radius: 0px 0px 80px 80px;
        padding-inline: 32px !important;
    }

}

@media (max-width: 425px) {
    .nav-cover {
        border-radius: 0px 0px 80px 80px;

    }

    nav {
        border-radius: 0px 0px 80px 80px;
        padding-inline: 10px !important;
    }

    nav img {
        height: 60px;
    }
}

@media (max-width: 320px) {
    .nav-cover {
        border-radius: 0px 0px 70px 70px;

    }

    nav {
        border-radius: 0px 0px 60px 60px;
        padding-inline: 5px !important;
    }

    nav img {
        height: 50px;
    }
}

nav button.dropdown {
    background-color: #3AB2FE;
    border-radius: 30px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-inline: 20px;
    padding-inline: 20px;
}

nav .dropdown-menu {
    background-color: #3AB2FE !important;
    border: none !important;
}
.more-content {
    display: none;
}

.dropdown {
    display: block;
}
@media (min-width: 1440px) {
    .dropdown {
        display: none;
    }

    .more-content {
        display: block;
    }
}
@media (max-width: 992px) {
    .dropdown {
        display: none;
    }

    .more-content {
        display: block;
    }
}

@media (max-width: 769px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
    }
}

nav hr {
    color: white;
    width: 100%;
}

nav .navbar-toggler {
    border: none;
}

/*---------------Nav-end--------------------*/
/*---------------index--------------------*/
/*---------------main-area--------------------*/
.displayMobile {
    display: none !important;
}

section.main {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/banner_home.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section.main p {
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 74px;
    line-height: 70px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

section.main .slogan1 {
    font-family: "a Atmospheric", sans-serif;
    color: #FFAE00;
    padding-top: 40vh;
}

section.main .slogan2 {
    font-family: "a Atmospheric", sans-serif;
}

section.main .slogan3 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 20vh;
}
@media (max-width: 768px) {
    section.main p {
        font-size: 2.5rem;
    }

    section.main .slogan3 {
        font-size: 1.5rem;
    }
}
@media (max-width: 425.25px) {
    section.main p {
        font-size: 1.6rem;
    }

    section.main .slogan3 {
        font-size: 1rem;
    }
}
/*---------------main-area-end--------------------*/
/*---------------who-we-are--------------------*/
section.whoWeAre .head {
    font-family: "a Atmospheric", sans-serif;
    color: #3AB2FE;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 2rem;
}

section.whoWeAre .content {
    color: black;
    font-weight: 500;
    line-height: 40px;
    font-size: 32px;
}
@media (max-width: 1024.98px){
    section.whoWeAre .head {
        margin-top: 3rem;
    }
}
@media (max-width: 992px) {
    section.whoWeAre .head {
        font-size: 2.5rem;
    }

    section.whoWeAre .content {
        font-size: 2rem;
    }
}
@media (max-width: 425px) {
    section.whoWeAre .head {
        font-size: 1.6rem;
    }

    section.whoWeAre .content {
        font-size: 1.2rem;
    }
}
/*---------------who-we-are-end-------------------*/
/*---------------NUMBERS-AREA-------------------*/
.cd__main {
    display: flex;
    width: 100%;
    background-color: white;
    min-height: 550px;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    text-shadow: 1px 1px 0 #FFAE00;
  }
  
  .counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  
  .counter {
    font-size: 80px;
    margin-top: 10px;
  }
  
  @media only screen and (min-width: 1360px) {
    .cd__main {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
    }
  }
  @media (max-width: 580px) {
    .cd__main {
      flex-direction: column;
    }
    .counter {
        font-size: 60px;
      }
  }
  
  
/*---------------NUMBERS-AREA-end------------------*/
/*---------------about--------------------*/
section.about {
    color: #515151;
    font-weight: 650;
    font-size: 1.3rem;
}

section.about .grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

section.about .grid .firstRow {
    grid-column: 1 / 3;
    margin-inline: 0;
}

section.about .grid .secRow {
    grid-column: 1 / 2;
}

section.about .grid .thirdRow {
    grid-column: 2 / 3;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.two-column-list li {
    flex: 0 0 50%;
    margin: 5px 0;
}

section.about .border {
    box-shadow: 0 4px 4px 0 rgba(115, 115, 115, 0.5);
    padding: 20px;
}
.about-slider img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .two-column-list li {
      flex: 0 0 100%;
    }
}

@media (max-width: 992px) {
    section.about .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    section.about .grid .firstRow,
    section.about .grid .secRow,
    section.about .grid .thirdRow {
        grid-column: 1 / 2;
    }
}
@media (max-width: 768.98px) {
    section.about .firstRow {
        margin-inline: 0;
    }

    section.about .border {
        box-shadow: 0 4px 4px 4px rgba(115, 115, 115, 0.7);
        min-height: 500px;
    }
    .two-column-list li {
        flex: 0 0 50%;
        margin: 5px 0;
    }
}
@media (max-width: 443.98px) {
    .two-column-list li {
        flex: 0 0 100%;
      }
      section.about p.vision,.list-about{
        margin-top: 6rem !important;
    }
    section.about .border {
    min-height: 640px;
    }
}
@media (max-width: 375.98px) {

    section.about p.vision,.list-about{
        margin-top: 7rem !important;
    }
    section.about .border {
        min-height: 700px;
    }
}
/*---------------about-end-------------------*/
/*---------------What we can offer---------*/
section.offer .displayMobile {
    display: none;
}

section.offer .head {
    font-family: "a Atmospheric", sans-serif;
    color: #3AB2FE;
    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
}

section.offer .listHead,
section.offer .li {
    display: block;
    font-size: 26px;
    line-height: 37px;
    font-weight: 500;
    color: black;
}
.Certificates-offer{
    font-size: 20px;
    font-weight: 450;
}
@media (max-width: 992px) {
    section.offer img {
        min-width: 100%;
        margin-bottom: 1rem;
    }

    section.offer .displayDesktop {
        display: none;
    }

    section.offer .displayMobile {
        display: block;
    }
}
@media (max-width: 768px) {
    .displayMobile {
        display: block !important;
    }

    .displayDesktop {
        display: none;
    }


    section.offer .displayMobile {
        display: block;
        margin-bottom: 30px;
    }

    section.offer .displayDesktop {
        display: none;
    }

    section.offer .head {
        font-size: 24px;
        text-align: center;
    }
}
@media (max-width:440px){
    section.offer .listHead,
    section.offer .li {
        display: none;
    }
    .Certificates-offer{
        font-size: 17px;
        font-weight: 400;
    }
}
/*---------------What we can offer-end--------*/
/*---------------We worked with---------*/
section.logos p {
    font-family: "a Atmospheric", sans-serif;
    color: #3AB2FE;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.past-projects-slider .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.logo-img {
    width: 300px !important;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}
.logo-img:hover {
    filter: grayscale(0%);
}
.long-item img{
    width: auto !important;
}
@media (max-width: 768px) {
    section.logos p {
        font-size: 24px;
    }
}
@media (max-width: 440px){
    .logo-img {
        width: 250px !important;
    }
    .past-projects-slider .item {
        height: 150px;
    }
}
/*---------------We worked with-end----------*/
/*---------------certificates-----------*/
section.Certificates {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

section.Certificates .head {
    color: #3AB2FE;
    font-size: 40px;
    line-height: 44.26px;
    font-family: "a Atmospheric", sans-serif;
}

section.Certificates button {
    background-color: #FFAE00;
    font-size: 27px;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 25px;
}

@media (max-width: 1024px) {
    .certificates-list.two-column-list li {
        flex: 0 0 50%;
    }

}
@media (max-width: 992px) {
    section.Certificates.listHead {
        font-size: 21px;
        text-align: center;
        list-style-position: inside;
    }
    section.Certificates .head {
        font-size: 2.5rem;
    }

}

@media (max-width: 768px) {
    section.Certificates {
        font-size: 19px;
        text-align: center;
        list-style-position: inside;
    }

    section.Certificates img {
        min-width: 100%;
    }

    section.Certificates .head {
        font-size: 24px;
    }
    .certificates-list.two-column-list li {
        flex: 0 0 100%;
        list-style-type: none;
    }
}
/*---------------certificates-end----------*/

/*--------------index-end--------------------*/
/*---------------About----------------------*/
section.banner{
    padding-top: 70px;
}
section.banner img{
    width: 100%;
    max-height: 100vh;
}

section.about .header{
    font-family: "a Atmospheric", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #3AB2FE;
    text-shadow: 0 4px 4px rgba(58, 178, 254, 0.5);
}
p.contentHead {
    font-family: "a Atmospheric", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 44px;
    color: #3AB2FE;
}


p,
li {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 44px;
    color: #000000;
}
section.description img{
    width: 100%;
    max-height: 100vh;

}

section.description li{
    padding-left: 0;
}

section.culture p , section.culture li{
    font-weight: 500;
    font-size: 26px;
    line-height: 31.69px;
    color: #000000;
}
section.culture .header{
    font-family: "a Atmospheric", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44.26px;
    color: #3AB2FE;
}
section.culture .head{
    font-weight: 500;
    font-size: 26px;
    line-height: 31.69px;
    color: #3AB2FE;
}
@media (max-width: 1439px){
    .rotate-90 {
        transform: rotate(90deg);
        transform-origin: center;
        margin-right: 15px; 
        max-width: 100%;
        height: auto; 
    }
}
@media (max-width: 992px){
    .rotate-90 {
        transform: rotate(0deg);
        transform-origin: center;
        margin-right: 15px; 
        max-width: 100%;
        height: auto; 
        padding-bottom: 50px;
    }
    section.culture .header,section.culture p, section.culture li,p,
    li,p.contentHead{
        font-size: 1.1rem;
        align-self: center;
    }
    .displayDisktop{
        display: none;
    }
    .displayMobile{
        display: block;
    }
    img{
        width: 100% ;
        max-height: 100vh;
    }
}
/*---------------About-end---------------------*/
/*---------------services---------------------*/
section.services .header{
    font-family: "a Atmospheric", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #3AB2FE;
    text-shadow: 0 4px 4px rgba(58, 178, 254, 0.5);
    padding-bottom: 20px;
}
/*---------------services-end---------------------*/
/*---------------Contact-us----------------------*/
section.contact label{
    font-weight: 400;
    size: 20px;
    color: #676262;
}


section.contact .submitButton{
    width: 100%;
    height: 38px;
    border: none;
    padding: auto;
    background-color: #3AB2FE;
    color: white;
}

section.contact img.logo{
    margin-left: 35%;
}


section.contact .slogan1 , section.contact .slogan2{
    font-family: 'a Atmospheric', sans-serif;   
    font-size: 28px;  
    font-weight: 400;                                      
}
section.contact .slogan1 {
    color:#FFAE00;

}
section.contact .slogan2{
    color: #3AB2FE;
}

section.contact p.icon{
    font-size: 20px; 
    font-weight: 500;
    padding-left: 5px;
}
section.contact p.content{
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 20px;
}
section.contact i{
    font-size: 20px;
}
section.contact i.main{
    font-size: 40px;
}
section.contact{
    padding-top: 100px;
    padding-bottom: 50px;
}
section.contact .header{
    font-family: "a Atmospheric", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #3AB2FE;
    text-shadow: 0 4px 4px rgba(58, 178, 254, 0.5);
    padding-bottom: 20px;
}
section.contact a.mab{
    font-size: 30px;
    color: black;
}
label.form-label {
    display: block;
}
.iti{
    display: block;
}

@media (max-width: 992px){
    .displayMobile{
        display: block;
    }
    .displayDesktop{
        display: none;
    }
    section.contact .header{
        font-size: 24px;
    }
    section.contact .slogan1 , section.contact .slogan2{ 
        font-size: 24px;                                      
    }
    
    section.contact p.icon{
        font-size: 20px;
    }
    section.contact p.content{
        font-size: 16px;
    }
    section.contact i{
        font-size: 40px;
    }
    section.contact a{
        font-size: 16px;
    }
    section.contact a.mab{
        font-size: 20px;
    }
}
/*---------------Contact-us-end---------------------*/
/*---------------Footer--------------------*/
footer {
    background-color: #232B32;
    border-top: 7px solid #FFAE00;
}

footer img {
    max-width: 100px;
}

footer .slogan-1,
footer .slogan-2 {
    font-family: 'a Atmospheric', sans-serif;
}

footer .slogan-1 {
    color: #FFAE00;
    font-weight: 400;
}

footer .slogan-2 {
    color: #FFFFFF;
    font-weight: 400;
}

footer h6 {
    color: #FFAE00;
    font-weight: 700;
}

footer p {
    color: #FFFFFF;
    font-weight: 300;
}

footer .cr {
    font-weight: 400;
    font-size: 14px;
}

footer .cr i {
    font-size: 30px;
    margin-bottom: 5px;
}
footer .font-size-small{
    font-size: medium;
}
#map {
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 1024px) {
    footer p {
        font-size: 1rem;
    }
    footer h4{
        font-size: 1.2rem;
    }
    footer .font-size-small{
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    #map {
        height: 250px;
        margin-right: 250px;
        margin-left: 250px;
    }
}

@media (max-width: 425px) {
    #map {
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

div.row {
    --bs-gutter-x: 0;
}

